.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  background-color: #2196f3;
  padding: 5px;
}
.container > div.menu {
  grid-area: menu;
}
