body {
  background-color: aliceblue;
  font-family: Arial, sans-serif;
}
.headd {
  background-color: white;
  margin-left: 11%;
  width: 1200px;
}
head div {
  border: 1px solid black;
}
.gridd {
  margin-left: 20px;
  margin-right: 20px;

  display: grid;
  grid-template-columns: 6.5fr 2fr;
  column-gap: 30px;
}
.gridd a {
  text-decoration: none; /* Xóa gạch chân */
  color: green; /* Đổi màu chữ (có thể thay  bằng màu khác) */
}
.gridd img {
  width: 100%;
  margin-top: 10px;
}
.a {
  background-color: orange;
  border: orange;
  color: white;
  height: 30px;
  cursor: pointer;
  border-radius: 10px;
}

.gridd1 {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 10px;
}
.gridd1 img {
  width: 100%;
}
.gridd1 div {
  margin-top: 10px;
}
.gridd1 b {
  display: inline-block;
  margin-top: 10px;
}
/*aa*/

.tab {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-bottom: 4px solid transparent;
  color: #333;
}

.tab.active {
  color: black;
  border-color: orange;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
.gridd2 {
  margin-left: 20px;
  margin-right: 20px;

  display: grid;
  grid-template-columns: 6.5fr 2fr;
}
.gridd2 button {
  background-color: #f26522;
  border: none;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 2%;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-container:hover .edit-button1,
.carousel-container:hover .edit-button2 {
  display: block;
}

/* Cài đặt chung cho cả 2 nút */
.edit-button1,
.edit-button2 {
  position: absolute;
  top: 0;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.126);
  color: #f26522;
  border: none;
  font-size: 24px;
  padding: 10px;

  cursor: pointer;
}

/* Nút trái */
.edit-button1 {
  left: 10px;
}

/* Nút phải */
.edit-button2 {
  right: 10px;
}

/* Hover hiệu ứng đẹp hơn */
.edit-button1:hover,
.edit-button2:hover {
  background-color: rgba(0, 0, 0, 0.263);
  color: #f26522;
}
