.menu-container {
  display: flex;
  background-color: rgb(244, 138, 61);
  color: white;
  padding: 10px;
  align-items: center;
}

.menu-container i {
  margin-right: 10px;
}

.menu-title {
  font-weight: bold;
  height: 30px;
}
.menu-container:hover + .sidebar,
.sidebar:hover {
  display: block;
}
.sidebar {
  width: 220px;
  background: white;
  border: 1px solid #eee;
  display: none; /* Ẩn mặc định */
  position: absolute;
  top: 185px; /* tùy chỉnh theo chiều cao của .menu-container */
  left: 0;
  z-index: 5;
  margin-left: 12.5%;
  color: chocolate;
}
.sidebar div {
  height: 45px;
}

.menu-item {
  display: flex;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  position: relative;
  width: 390px;
  background-color: white;
  font-weight: bold;
  font-size: 15px;
  padding-left: 20px;
}

.menu-item:hover {
  background: orange;
  color: white;
}

.submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background: white;
  border: 1px solid #ddd;
  min-width: 180px;
  z-index: 10;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu div {
  /* padding: 10px; */
  border-bottom: 1px solid #eee;
  color: orange;
  background-color: white;
}

.submenu div:hover {
  background-color: #f2f2f2;
}

.hot {
  background-color: darkred;
  color: white;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 3px;
  margin-left: 5px;
  height: 20px;
  line-height: 20px;
  margin-top: 15px;
}
.slider {
  text-align: center;
  margin-top: -20px;
}
.menu-login {
  position: relative;
  display: inline-block;
}

.dropdown {
  display: none;
  position: absolute;
  background: orange;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 130px;
}
.dropdown li {
  padding: 10px;
  cursor: pointer; /*đổi thành bàn tay*/
}
.dropdown li:hover {
  background-color: chocolate;
}
.menu-login:hover .dropdown {
  display: block;
}
.last {
  margin-left: 12%;
  margin-right: 12%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.last a {
  color: green;
  font-size: 14px;
}
.item-a {
  grid-column: 1 / 2 span;
}
.item-b {
  grid-column: 3;
  grid-row: 1 / 2 span;
}
.item-c {
  grid-column: 4;
  grid-row: 1 / 2 span;
}
.last-d {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 25% 75%;
}
.last-d img {
  width: 100%;
}
.last-d b {
  color: orange;
}
.last-d p {
  color: rgba(0, 0, 0, 0.619);
  font-size: 14px;
}
.last1 {
  text-align: center;
  color: #ccc;
  background-color: black;
  height: 40px;
  line-height: 40px;
}
.prev {
  margin-left: 0px;
}
.next {
  right: 585px;
}
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  /* cursor: pointer; */
  padding: 10px;
  z-index: 1;
}
.flower-item {
  display: flex;
  padding: 15px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.flower-img-small {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 15px;
}

.flower-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flower-info .name {
  font-size: 20px;
  margin: 0;
  color: #d97706;
}

.flower-info .price {
  font-size: 22px;
  margin: 5px 0 0;
  color: red;
  font-weight: bold;
}
.flower-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
