* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  background-color: #f9f9f9;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background-color: #ff6600;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.sidebar h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 18px;
}
.nav-item {
  padding: 15px 20px;
  cursor: pointer;
  transition: background 0.3s;
  font-size: 15px;
}
.nav-item:hover,
.nav-item.active {
  background-color: #ff8533;
}

/* MAIN */
.main {
  flex: 1;
  padding: 30px;
}
header {
  margin-bottom: 30px;
}
header h1 {
  color: #ff6600;
  margin-bottom: 5px;
}
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}
.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}
.card h3 {
  color: #555;
  margin-bottom: 10px;
}
.card p {
  font-size: 24px;
  color: #ff6600;
  font-weight: bold;
}
footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
}
a {
  text-decoration: none;
  color: #00ff22;
}
